*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 98%;
    margin: auto;
}

/*HEADER*/
.contenitore-logo{
    background-color: #4ea0ff;
    background-image: url(../CSS/img/pattern.png);
}

.logo{
    height: 100px;
    margin-top: 50px;
}

/*MAIN*/
h1{
    font-size: 60px;
    margin-top: 20px;
}

.crediti{
    color: #808080;
    font-size: 25px;
}

#autore{
 color: #20a9e5;
}

.data{
    color: #808080;
    margin-bottom: 30px;
}

p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.importante{
    background-color: #ffff00;
}

.list{
    margin-left: 15px;
}


/*Tabella*/
th{
    text-align: left;
}

.colonna-larga{
    width: 50%;
}

table{
    width: 100%;
    border-collapse:collapse;
    margin-top: 30px;
}

thead{
    color: #ffffff;
    background-color: #20a9e5;
}

td{
    height: 50px;
}

.riga-a{
    background-color: #b1e5f2;
}

.riga-b{
    background-color: #ffffff;
}

.anteprima{
    height: 150px;
    width: 200px;
    background-size: cover;
    margin-top: 10px;
}

.titolo-anteprima{
    color: #ffffff;
    padding: 10px;
}

#anteprima-1{
    background-image: url(../CSS/img/monitor.jpg);
}

#anteprima-2{
    background-image: url(../CSS/img/graph.jpg);
}

.color-grey{
    color: #808080;
}